<h1> Your Information </h1>

<p> Parent Name: <%= @parent.name %><br></p>
<p> Your Child age: <%= @parent.childs_age %><br></p>

 <%= link_to "Create Booking" , new_booking_path %>

    <li> <%= link_to "Edit your information", edit_parent_path(@parent) %></li>
    <br>
  <li> <%= link_to "Delete", @parent, :method => :delete, :confirm => "Are you sure ?"%> </li>

